*~
*jar
/.lein-deps-sum
/.lein-failures
/.lein-plugins
/checkouts
/classes
/lib
/native
/pom.xml
/target/stale/extract-native.dependencies
.idea
*.iml
*.jpr
/test/clj_hazelcast/test/temp.clj
/target/
/.nrepl-port
/pom.xml.asc
